@use "sass:math";

// Primitive tokens as SCSS variables
// =================================

$size-0: 0 !default; // px(0)
$size-1: 0.0625rem !default; // px(1)
$size-2: 0.125rem !default; // px(2)
$size-4: 0.25rem !default; // px(4)
$size-6: 0.375rem !default; // px(6)
$size-8: 0.5rem !default; // px(8)
$size-10: 0.625rem !default; // px(10)
$size-12: 0.75rem !default; // px(12)
$size-14: 0.875rem !default; // px(14)
$size-16: 1rem !default; // px(16)
$size-18: 1.125rem !default; // px(18)
$size-20: 1.25rem !default; // px(20)
$size-24: 1.5rem !default; // px(24)
$size-32: 2rem !default; // px(32)
$size-40: 2.5rem !default; // px(40)
$size-48: 3rem !default; // px(48)
$size-52: 3.25rem !default; // px(52)
$size-60: 3.75rem !default; // px(60)
$size-64: 4rem !default; // px(64)
$size-90: 5.625rem !default; // px(90)
$size-96: 6rem !default; // px(96)
$size-128: 8rem !default; // px(128)
$size-176: 11rem !default; // px(176)
$size-256: 16rem !default; // px(256)
$size-288: 18rem !default; // px(288)
$size-400: 25rem !default; // px(400)
$size-560: 35rem !default; // px(560)
$size-624: 39rem !default; // px(624)
$size-680: 42.5rem !default; // px(680)
$size-780: 48.75rem !default; // px(780)
$size-960: 60rem !default; // px(960)
$size-999: 62.4375rem !default; // px(999)
$size-page: 72rem !default; // px(1152)
