@mixin button($display: inline-block) {
  @include button-structure();
  background: transparent;
  color: color(orange, base);
  border: 2px solid color(orange, base);
  font-size: 1rem;
  font-family: $font-family--secondary;
  font-weight: $weight-light;
  line-height: 1;
  height: inherit;
  padding-top: ($spacing-l / 2) - 1px;
  padding-right: $spacing-l;
  padding-bottom: ($spacing-l / 2) - 1px;
  padding-left: $spacing-l;
  margin-right: $spacing-m;
  margin-bottom: $spacing-m;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;

  @if $display == 'block' {
    display: block;
    margin-right: 0;
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:only-child {
    margin-bottom: 0;
  }

  @include transition(background);
  @include hover {
    background: color(blue, base);
  }

  svg {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 0.5em;

    &:last-child {
      margin-right: 0.5em;
      margin-left: 0;
    }
  }
}
